body {
  background-color: #FFFFF0;
  display: flex;
}

.logo {
  background-image: url('../img/norka.jpg');
  background-size: cover;
  background-position: center;
  width: 100px; /* Установите желаемый размер */
  height: 100px; /* Установите желаемый размер */
  border-radius: 50%; /* Делает элемент круглым */
  margin: 0 auto; /* Центрирует логотип в блоке */
  margin-bottom: 20px;
}

.logo-title {
  text-align: center; /* Выравнивание текста по центру */
  color: #fff; /* Цвет текста */
  font-size: 20px; /* Размер шрифта */
  font-weight: bold; /* Жирное начертание */
  margin-top: 10px; /* Отступ сверху */
}

.container.mt-4 {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/* Стили для левого меню */
.left-menu {
  background: #333;
  width: 250px;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.menu-list li {
  list-style-type: none;
  margin-bottom: 15px;
}

.menu-list li a {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  padding: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.menu-list li a:hover {
  background-color: #444;
}

/* Стили для контейнера задач */
.container {
  background-color: #fff; /* Белый фон для контента */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Стили для списка задач */
.list-group-item {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

.list-group-item:hover {
  background-color: #e2e6ea;
}

/* Стили для кнопок */
.btn {
  color: #fff;
  background-color: #000;
  border-color: #000;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #444;
  border-color: #444;
}

/* Стили для меток и дополнительного текста */
.badge-primary {
  background-color: #007bff;
}

.text-muted {
  color: #6c757d;
}

/* Стили заголовка */
h2 {
  color: #333;
  margin-bottom: 20px;
}

/* Стили для формы создания задачи */
.form-group label {
  color: #333; /* Цвет текста */
  font-weight: bold; /* Жирное начертание */
}

.form-group input, .form-group textarea, .form-group select {
  width: 100%; /* Ширина элементов формы */
  border: 1px solid #ccc; /* Граница */
  border-radius: 4px; /* Скругление углов */
  padding: 10px; /* Внутренний отступ */
  margin-bottom: 10px; /* Отступ снизу */
}

.btn-primary {
  background-color: #000; /* Черный цвет кнопки */
  border-color: #000; /* Черная граница кнопки */
}

.btn-primary:hover {
  background-color: #444; /* Темно-серый цвет кнопки при наведении */
  border-color: #444;
}

.btn-secondary {
  background-color: #6c757d; /* Серый цвет кнопки */
  border-color: #6c757d;
}

.btn-secondary:hover {
  background-color: #5a6268; /* Темно-серый цвет кнопки при наведении */
  border-color: #5a6268;
}

/* Стили для страницы удаления задачи */
.alert-warning {
  color: #856404; /* Цвет текста предупреждения */
  background-color: #fff3cd; /* Цвет фона предупреждения */
  border-color: #ffeeba; /* Цвет границы предупреждения */
  padding: 20px; /* Внутренний отступ */
  border-radius: 4px; /* Скругление углов */
}

.btn-danger {
  background-color: #dc3545; /* Красный цвет кнопки */
  border-color: #dc3545; /* Красная граница кнопки */
}

.btn-danger:hover {
  background-color: #c82333; /* Темно-красный цвет кнопки при наведении */
  border-color: #bd2130;
}

/* Стили для страницы детализации задачи */
.form-group label {
  font-weight: bold; /* Жирное начертание для меток */
}

.form-group input, .form-group textarea, .form-group select {
  width: 100%; /* Полная ширина внутри родительского элемента */
  margin-top: 5px; /* Отступ сверху для элемента формы */
}

/* Стили для кнопок */
.btn-primary {
  background-color: #000000; /* Голубой цвет кнопки */
  border-color: #000000;
}

.btn-secondary {
  background-color: #6c757d; /* Серый цвет кнопки */
  border-color: #6c757d;
}

.btn-danger {
  background-color: #dc3545; /* Красный цвет кнопки */
  border-color: #dc3545;
}

.btn:hover {
  opacity: 0.8; /* Эффект при наведении на кнопку */
}