{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DuDu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
        <div class="left-menu">
            <div class="logo" alt = "DuDu">
            </div>
            <div class = "logo-title">DuDu</div>
            <ul class="menu-list">
            <li><a href="#user">User</a></li>
            <li><a href="#my-tasks">Мои задачи</a></li>
            <li><a href="#settings">Настройки</a></li>
            <li><a href="#help">Помощь/FAQ</a></li>
            <li><a href="#exit">Выход</a></li>
            </ul>
        </div>
  <div class="container mt-4">
    <h2>Список задач</h2>
    {% if not object_list %}
        <p>У вас еще нет созданных задач.</p>
    {% else %}
        <ul class="list-group">
            {% for item in object_list %}
                <li class="list-group-item">
                    <a href="{% url 'items:item_detail' item.pk %}">{{ item.title }}</a>
                    <span class="text-muted">{{ item.deadline|date:'d m Y' }}</span>
                    {% if not item.tag %}
                        <span class="badge badge-primary">Тег не выбран</span>
                    {% else %}
                        <span class="badge badge-primary">{{ item.tag }}</span>
                    {% endif %}
                    <!-- Кнопка для просмотра деталей задачи -->
                    <a href="{% url 'items:item_detail' item.pk %}" class="btn btn-info btn-sm">Просмотреть</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <a href="{% url 'items:item_create' %}" class="btn btn-primary mt-3">Добавить задачу</a>
</div>

<script src="{% static 'js/script.js' %}"></script>
</body>
</html>
